[Desktop Entry]
Name=SoapUI
Type=Application
Exec={{soapui_install_dir}}/bin/soapui.sh
Terminal=false
Icon={{soapui_install_dir}}/bin/SoapUI-Spashscreen.png
NoDisplay=false
Categories=Development;
Name[en]=SoapUI
